POSTGRES_USER=seu usuario
POSTGRES_PASSWORD=sua senha
POSTGRES_HOST=seu host
POSTGRES_DB=seu banco
POSTGRES_PORT=sua porta

URL_DATABASE=postgresql+psycopg://seu_usuario:sua_senha@seu_host:porta/seu_banco

SECRET_KEY=sua_chave_secreta